@page
@inject MyDbContext DbContext
@using TaskMenager.Components.dbcontroll;
@using Microsoft.EntityFrameworkCore;
@using TaskMenager.Components.Services;
@model TaskMenagerV2.Pages.AchievementsModel
@{
	ViewData["Title"] = "Home Achievements";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2>Completed Achievements</h2>
            <div class="row">
                @foreach (var achievement in DbContext.Achievements)
                {
                    if(achievement.Completed == 1)
                    {
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">@achievement.Name</h5>
                                    <p class="card-text">@achievement.Description</p>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>

            <h2>Incompleted Achievements</h2>
            <div class="row">
                @foreach (var achievement in DbContext.Achievements)
                {
                    if(achievement.Completed == 0)
                    {
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">@achievement.Name</h5>
                                    <p class="card-text">@achievement.Description</p>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>

