@page
@model TaskMenagerV2.Pages.LoginModel
@{
	ViewData["Title"] = "Log in";
}

<div class="container">
    <h2 class="display-4">Login</h2>
    <div class="mb-1 mt-2">Or create new account: <a class="text-body-secondary" asp-area="" asp-page="/Registration">Register</a> </div>
    <form method="post">
        <div class="form-group w-50 pt-3">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" />
        </div>
        <div class="form-group w-50 pt-3 pb-3">
            <label asp-for="Password"></label>
            <input asp-for="Password" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary mt-2">Login</button>
    </form>

    <a class="btn btn-danger mt-4" asp-page="/RestorePassword">Forgot your password?</a>

</div>