@page
@model TaskMenagerV2.Pages.RestorePasswordModel
@{
	ViewData["Title"] = "Restore Password";
}

<div class="container">
    <h2 class="pt-3">Change Password</h2>

    <form method="post" asp-page-handler="SendEmail" class="pt-2 align-content-center">
        <div class="form-group w-25">
            <label for="Email">Email</label>
            <input id="Email" name="Email" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary mt-2">Send conformation email</button>
    </form>

    <form method="post" asp-page-handler="UpdatePassword" class="pt-4 align-content-center">
        <div class="form-group w-25 pt-2">
            <label for="Email">Email</label>
            <input id="Email" name="Email" class="form-control" />
        </div>
        <div class="form-group w-25 pt-2">
            <label for="Conf">Confirmation code</label>
            <input id="Conf" name="Conf" class="form-control" />
        </div>
        <div class="form-group w-25 pt-2 pb-2">
            <label asp-for="UserC.Password"></label>
            <input asp-for="UserC.Password" class="form-control" />
            <span asp-validation-for="UserC.Password" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Change Password</button>
    </form>
</div>
